/* Modal */

@font-face {
  font-family: Poppins;
  src: local("Poppins-Regular"),
       url(./Poppins-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: local("Montserrat-Bold"),
       url(./Montserrat-Bold.ttf);
}

.page_body {
  background: url(./main-background.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Poppins;
}

@media (max-width: 768px) and (min-height: 1283px) {
  .modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(0, 173, 95, 0.8);
    background: -webkit-gradient(linear, left top, left bottom, from(#0e81d6), to(rgba(0, 173, 95, 0.8)));
    background: -webkit-linear-gradient(top, #0e81d6, rgba(0, 173, 95, 0.8));
    background: -o-linear-gradient(top, #0e81d6, rgba(0, 173, 95, 0.8));
    background: linear-gradient(180deg, #0e81d6, rgba(0, 173, 95, 0.8));
    background-attachment: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
  }
}

@media (max-width: 768px) and (max-height: 1282px) {
  .modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(0, 173, 95, 0.8);
    background: -webkit-gradient(linear, left top, left bottom, from(#0e81d6), to(rgba(0, 173, 95, 0.8)));
    background: -webkit-linear-gradient(top, #0e81d6, rgba(0, 173, 95, 0.8));
    background: -o-linear-gradient(top, #0e81d6, rgba(0, 173, 95, 0.8));
    background: linear-gradient(180deg, #0e81d6, rgba(0, 173, 95, 0.8));
    background-attachment: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    height: 1298px;
  }
}

@media (min-width: 768px) and (min-height: 770px) {
  .modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(0, 173, 95, 0.8);
    background: -webkit-gradient(linear, left top, left bottom, from(#0e81d6), to(rgba(0, 173, 95, 0.8)));
    background: -webkit-linear-gradient(top, #0e81d6, rgba(0, 173, 95, 0.8));
    background: -o-linear-gradient(top, #0e81d6, rgba(0, 173, 95, 0.8));
    background: linear-gradient(180deg, #0e81d6, rgba(0, 173, 95, 0.8));
    background-attachment: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-height: 770px) {
  .modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(0, 173, 95, 0.8);
    background: -webkit-gradient(linear, left top, left bottom, from(#0e81d6), to(rgba(0, 173, 95, 0.8)));
    background: -webkit-linear-gradient(top, #0e81d6, rgba(0, 173, 95, 0.8));
    background: -o-linear-gradient(top, #0e81d6, rgba(0, 173, 95, 0.8));
    background: linear-gradient(180deg, #0e81d6, rgba(0, 173, 95, 0.8));
    background-attachment: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    height: 785px;
  }
}

@media (min-width: 768px) {
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1120px;
    height: 770px;
  }
}

@media (max-width: 768px) {
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; 
    height: 1283px;
  }  
}

@media (min-width: 992px){
  .contact-info {
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .contact-info {
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40%;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .contact-info {
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }
}

.contact-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  width: 355px;
  max-width: 100%;
}

.contact-info-item:last-child {
  margin-bottom: 0;
}  

.contact-info-item__icon {
  margin-right: 25px;
}

.contact-info-item__title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.contact-info-item__text {
  font-size: 15px;
  line-height: 1.6;
  color: #999;
}

.contact-info-item__link {
  font-size: 15px;
  line-height: 1.6;
  color: #00ad5f;
}

@media (min-width: 992px){
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 576px) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60%;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60%;
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.contact-form-title {
  font-size: 30px;
  color: #333;
  margin-top: 55px;
  margin-bottom: 60px;
  flex-grow: 1;
  flex-shrink: 1;
}

.contact-form-item {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;        
}

.contact-form-item__title {
  font-size: 12px;
  color: #555;
  margin-bottom: 10px;
}

@media (min-width: 575px) {
  .contact-form-item__input+.contact-form-item__input {
    margin-left: 25px;
  }
}

@media (max-width: 576px) {
  .contact-form-item__input+.contact-form-item__input {
    margin-top: 10px;
  }
}

.contact-form-item__user-message {
  margin-bottom: 23px;
  height: 55px;
  font-size: 18px;
  color: #666;
  outline: 0px solid;
  outline-offset: 15px;
  -webkit-transition-property: outline-offset;
  -o-transition-property: outline-offset;
  transition-property: outline-offset;
  -webkit-transition-duration: .4s;
       -o-transition-duration: .4s;
          transition-duration: .4s;
  border: 1px solid #999;
}

@media (min-width: 576px) {
  .contact-form-item__full-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 575px) {
  .contact-form-item__full-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }
}

.contact-form-item__input {
  height: 55px;
  font-size: 18px;
  color: #666;
  padding-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 2px;
  border: 1px solid #999;
  outline: 0px solid;
  outline-offset: 15px;
  -webkit-transition-property: outline-offset;
  -o-transition-property: outline-offset;
  transition-property: outline-offset;
  -webkit-transition-duration: .4s;
       -o-transition-duration: .4s;
          transition-duration: .4s;
}

.contact-form-item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  background-color: #00ad5f;
  font-size: 12px;
  font-family: Montserrat;
  color: #fff;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 23px;
  max-width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form-item__button:hover {
  background-color: #333;
}

.contact-form-item__input:focus, .contact-form-item__user-message:focus {
  outline-color: #00ad5f;
  outline-offset: 0px;
  outline-width: 1px;
}